$darkFirstColor: #222222;
$lightFirstColor: #9D9D9D;
$darkSecondColor: #EEEEEE;
$lightSecondColor: #F5F5F5;
$active: #428BCA;

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body {
	background-color: $lightSecondColor;
	span {
		margin-left: 0.5em;
	}
	#page {
		position: fixed;
		top: 0px; 
		bottom: 0px;
		left:0px;
		right: 0px;
	}
}

#sidebar {
	background-color: $darkFirstColor;
	height: 100%;

	#info {
		text-align: center;
		span {
			margin: 0px;
		}

		#logo {
			font-family: 'Fjalla One', sans-serif;
			color: $lightFirstColor;
			font-size: 6em;
			display: block;
		}
		#lead {
			color: $darkSecondColor;
			font-style: oblique;
		}
	}
	#serverInfo {
		background-color: $darkSecondColor;
		border-radius: 5px;
	}
	#tree {
		background-color: $darkSecondColor;
		position: absolute;
		top: 190px;
		bottom: 15px;
		left: 15px;
		right: 15px;
		overflow: auto;
		border-radius: 5px;

		padding-top: 0.5em;
		padding-bottom: 0.5em;

		.nodeWrap {
			margin-left: 1.2em;
		}
		.childWrap.none {
			display: none;
		}
		.icon:hover, .leafLink:hover {
			cursor: pointer;
		}
		.leafLink {
			color: $active;
		}
		.icon {
			&.open {
			}
			&.isclose {
			}
			&.none {
				&:hover {
					cursor: default;
				}
			}
		}
	}
}

#data_page {
	height: 100%;
	.infoBlock {
		font-size: 1.5em;
		overflow: auto; /* for float */
		height: 100px;
		.title {
			float: left;
			text-align: right;
			width: 2.5em;
		}
	}

	.dataBlock {
		overflow: auto;
		position: absolute;
		top: 100px;
		bottom: 0px;
		left: 100px;
		right: 0px;
		th {
			background-color: $lightFirstColor;
			font-weight:bold;
		}
		td {
			min-width: 200px
		}
	}
}